# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
doc_xml/hydra_xml.pdf
clew/x64/
hydra_api/x64/
ies_parser/x64/
/hydra_api/.vs/HydraNewAPI1/v15/Solution.VC.db-wal
/hydra_api/.vs/HydraNewAPI1/v15/Solution.VC.db-shm
/hydra_api/.vs/HydraNewAPI1/v15/Solution.VC.db
/hydra_api/.vs/HydraNewAPI1/v15/ipch/AutoPCH/2616d7ccd3ba5a23/HRMESHCOMMON.ipch
/hydra_api/.vs/HydraNewAPI1/v15/Browse.VC.opendb
/hydra_api/.vs/HydraNewAPI1/v15/Browse.VC.db
/papers/comp_prog_2018_rus/main_rus.synctex.gz
/papers/comp_prog_2018_rus/main_rus.pdf
/papers/comp_prog_2018_rus/main_rus.log
/papers/comp_prog_2018_rus/main_rus.aux
hydra_api/.vs/
main/data/textures_gen/
main/x64/
PostProcessDLL/x64/
PostProcessDLLExample/x64/
mikktspace/x64/
utils/clew/x64/Debug/clew.log
utils/clew/x64/Debug/clew.pdb
utils/clew/x64/Debug/clew.tlog/clew.lastbuildstate
utils/corto/x64/
utils/clew/x64/
utils/ies_parser/x64/
utils/mikktspace/x64/
main/demos/demo_02/
hydra_api/Debug/
hydra_api/Release/HydraAPI.Build.CppClean.log
hydra_api/Release/
main/Debug/
main/Release/
utils/clew/Debug/
utils/clew/Release/
utils/corto/Debug/
utils/corto/Release/
utils/ies_parser/Debug/
utils/ies_parser/Release/
utils/mikktspace/Debug/
utils/mikktspace/Release/
main/demos/demo_01/
