# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
doc_xml/hydra_xml.pdf

# Folders
.vs/
x64/
Debug/
Release/
build_generated/
papers/
main/data/textures_gen/
main/demos/demo_02/